<div class="Echarts" echart-model>
  <div class="backgroundDiv" ng-click="cancelModel();"></div>
  <div class="modelTimeOut">
    <div class="canvasBox">
      <i class="icon ion-close-circled" ng-click="cancelModel();"></i>
      <div>
        <h4 ng-bind="prjtName"></h4>
        <div class="col-md-12 details">
          <p class="col-md-3">产品名称：<span ng-bind="prd.detailsname">2222</span></p>
          <p class="col-md-3">所在区域：<span ng-bind="prd.regionname">2222</span></p>
          <p class="col-md-3">数量：<span ng-bind="prd.detailsnumber">2222</span></p>
          <p class="col-md-3">金额：<span ng-bind="prd.money">2222</span></p>
        </div>
        <canvas width="700" height="420"  id="canvas"></canvas>
      </div>
    </div>
  </div>
</div>
