<div class="project_all bProjectManager bossBackground">
  <header>
    <div class="clearfix">
      <div class="leftFloat">
        <ul>
          <li> <input placeholder="请输入关键字" type="text" class="form-control keyWords" ng-model="keyWords"></li>
          <li><button type="button" class="btn btn-default btn-search-color" ng-click="Inquire(this);">搜索</button></li>
         </ul>
      </div>
      <div class="rightFloat">
        <div>
          <button type="button" class="btn btn-default btn-search-color" ng-click="showAddManagerModel();">添加</button>
        </div>
      </div>
    </div>
  </header>
  <boss-alert-model ng-show="bossAlert" ng-init="bossAlert = false"></boss-alert-model>
  <boss-add-alert-model ng-show="addManager" ng-init="addManager = false"></boss-add-alert-model>
  <section>
    <div class="managerDiv clearfix">
      <ul class="row clearfix ulBox">
        <li class="clearfix active col-md-4" ng-repeat="data in data">
          <div class="b_managerLeftBox">
            <div>
              <img ng-src="{{data.personalpicture}}"/>
              <p ng-bind="data.username"></p>
            </div>
          </div>
          <div class="b_managerRightBox b_managerRightBoxHide" style="display: block">
            <div class="b_managerIdBox">
              <p>ID：<span ng-bind="data.username"></span></p>
              <p>电话：<span ng-bind="data.phoneNumber"></span></p>
            </div>
            <div class="b_managerListBox">
              <span class="col-md-6" ng-click="homeRightBoxShow(this,$index);">
                <i class="icon ion-ios-home-outline liIcon"></i><br/>
                <span>设计师之家</span>
              </span>
              <span class="col-md-6" style="border-left: 1px solid #ccc;" ng-click="bossSeeProject(this);">
                <i class="icon ion-ios-paper-outline liIcon"></i><br/>
                <span>项目</span>
              </span>
            </div>
          </div>
          <div class="b_managerRightBox homeRightBox" style="display: none">
            <i class="icon ion-close-circled" ng-click="hideHome($index);"></i>
            <div ng-repeat="Home in userHome">
              <p class="liP"><span ng-bind="Home.deptName"></span>&nbsp;&nbsp;&nbsp;<span style="color: #00c2de;cursor: pointer" ng-click="delHome(this);">删除</span></p>
            </div>
            <div>
              <p style="color:#00c2de;cursor: pointer" ng-click="addHome(this);">新增</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
